@using MusicOrganizer.Models;

<h1>Your Records</h1>

@if (Model.Count == 0)
{
  <h3>You have no records!</h3>
}

@foreach (Record record in Model)
{
  <h3><a href="/records/@record.Id">@record.Title</a></h3>
}

<a href="/records/search"><button type=submit>Search for Records</button></a>
<a href="/records/new"><button type=submit>Add a Record</button></a>
<a href="/records/delete"><button type=submit>Remove a Record</button></a>
