@using MusicOrganizer.Models;

<h1>Here are the details of @Model.Title</h1>

<p>Artist: @Model.Artist</p>


<a href="/records"><button type=submit>View My Records</button></a>
<a href="/records/search"><button type=submit>Search for Records</button></a>
<a href="/records/new"><button type=submit>Add a Record</button></a>
<a href="/records/delete"><button type=submit>Remove all Records</button></a>